# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# MLflow
/mlruns/
/mlartifacts/
mlflow.db

# Model artifacts
/models/
*.pkl
*.joblib

# MLflow local database
mlflow.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/